<h3>Search list</h3>

<input type="text" [formControl]="searchControl" placeholder="Search..." />
@if (suggestions.length > 0) {
  <ul>
    @for (suggestion of suggestions; track suggestion) {
      <li (click)="searchControl.setValue(suggestion)">
        Did you mean: <strong>{{ suggestion }}</strong>?
      </li>
    }
  </ul>
}

<hr>
<div class="d-flex justify-content-start gap-2 flex-wrap">
  @for (book of bookResponse;  track book) {
    <app-book-card
      [book]="book"
    ></app-book-card>
  }

</div>
